@font-face {
  font-family: "Poppins", sans-serif;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
img{
  width: 100%;
}
.theme-bg{
  background-color: #303030;
}
.navbar {
  transition: all 0.4s ease;
      padding: 30px 0px;
}
.navbar-scrolled {
  background: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(8px);
}
/* Change hamburger to "X" when menu is open */
.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* Default hamburger */
.navbar-toggler-icon {
  transition: all 0.3s ease-in-out;
  width: 25px;
    height: 25px;
}

/* Change icon to X when expanded */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: none;
  position: relative;
  width: 25px;
  height: 25px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3s;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg);
}
.nav-item{
 padding-right: 20px;
}
.nav-link, .nav-link:focus, .nav-link:hover{
  color: #fff;
}
.btn-info{
  background-color: #ffffff40;
  border: none;
      padding: 12px 0px;
}
.btn-info:hover, .btn:first-child:active{
  background-color: #000;
}
/* Hero Section Carousel */
.carousel-item img {
  height: 100vh;
  object-fit: cover;
  filter: brightness(70%);
}

.carousel-caption {
  bottom: 25%;
  left: 10%;
  text-align: left;
}

.carousel-caption h5 {
  letter-spacing: 1px;
}

.carousel-caption h1 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.carousel-caption p {
  color: #eaeaea;
  max-width: 600px;
}

.carousel-caption .btn {
  font-size: 1rem;
}
.text-info{
  color: #fff !important;
}
.section-title .sub-title{
      color: #303030;
    font-size: 18px;
    font-weight: 600;
}
.section-title h2{
  font-size: 45px;
}
.section-padding {
    padding: 120px 0;
}
.about-wrapper-2 {
    margin-bottom: 37px;
}

.about-image-1 img {
width: 350px;
    border-radius: 15px;

}
.about-image-2 {
width: 200px;
    position: relative;
    left: 0;
    bottom: -10%;
}
.about-image-3 {
width: 200px;
    position: relative;
    left: 0;
    top: -20%;
}
.about-image-2 img, .about-image-3 img {
   border-radius: 15px;
    border: 8px solid #fff;
    box-shadow: 0 4px 25px #0000000f;
}

/* Responsive Adjustments */
@media (max-width: 991px) {
  .carousel-caption {
    bottom: 15%;
    left: 5%;
  }

  .carousel-caption h1 {
    font-size: 2rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }

  .quote-btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
  background-color: #000;
}
.navbar-nav {
  padding: 20px 0px;
  height: 90vh;
}
}


.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
.owl-nav span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}

.cust-carousel .item img{
    border-radius: 25px;
}

/* counter section */
.counter-section{
  margin: 100px 0px;
}
.counter-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.counter-wrapper .counter-items {
    width: 22%;
    border-right: 1px solid #fff;
}
.counter-wrapper .counter-items .counter-content h2 {
    font-size: 54px;
    color: #fff;
    text-align: center;
}
.counter-wrapper .counter-items .counter-content p {
    color: #fff;
    font-size: 18px;
    text-align: center;;
}


/* ====== Carousel Item Card ====== */
.item {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 350px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.item:hover img {
  transform: scale(1.05);
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .title-text h3 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.content .title-text a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.content .title-text a:hover {
  color: #ffcc33; /* highlight color on hover */
}

.content .title-text p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  opacity: 0.85;
}

.content .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff40;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.content .icon:hover {
  background: #000;
  color: #fff;
  transform: scale(1.1);
}

.content .icon i {
  font-size: 16px;
}

/* Choose Area */
.choose-us-area {
    margin-top: 40px;

}

.choose-us-area .choose-us-items {
    display: flex;
    gap: 30px;
}
.choose-us-area .choose-us-items .number {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    background-color: #303030;
}
.choose-us-area .choose-us-items .choose-us-content h4 {
    font-size: 20px;
    margin-bottom: 12px;
}
.choose-us-area .choose-us-items .choose-us-content p {
    font-size: 14px;
    margin-bottom: 40px;
}
/* special-offer */

.special-offer .section-title .sub-title {
color: #fff;
}
.special-offer{
 background-color: #303030;
 background-color: #303030b5;
 color: #fff;
 border-radius: 25px;
 padding: 30px 60px 0;
}
/* blog section */
.blog-card{
      background-color: #fff;
    padding: 15px;
    border-radius: 12px;
}
.blog-content {
    padding: 30px 0px;
}
.blog-content .post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 24px;
    padding-left: 0;
}
ul.post-meta{
 list-style-type: none;
}
.blog-content h4 {
    font-size: 20px;
    font-weight: 600;
}
.blog-content .blog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
a.link-btn {
  text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: rgb(83, 83, 83);
    text-transform: capitalize;
}
.link-btn i {
    margin-left: 10px;
}
/* footer section */
footer {
    background: #303030;
}
.footer-padding {
    padding-top: 50px;
    padding-bottom: 20px;
}
.contact-info i {
    color: #fff;
    font-size: 30px;
    margin-bottom: 12px;
}
footer .contact-info h5 {
    color: #fff;
    font-size: 21px;
}
footer .contact-info p, footer .contact-info p a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
footer p.copy {
    margin-bottom: 0px;
}
footer .copy {
    font-size: 14px;
    color: #fff;
}
.footer-heading h4{
    color: #fff;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.footer-heading h4::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #fff;
}
ul.footer-list {
 list-style-type: none;
    padding-left: 0;
}
ul.footer-list li{
  padding-bottom: 10px;
}
ul.footer-list li a{
    text-decoration: none;
    color: #fff;

}
 .contact-info .contact-items {
    display: flex;
    gap: 20px;
        margin-bottom: 20px;
}
.contact-info .contact-items .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}
.contact-info .contact-items .icon i {
    font-size: 18px;
    color: #fff;
}
.contact-info .contact-items .contact-content h6, .contact-info .contact-items .contact-content h6 a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}